{# src/Blogger/BlogBundle/Resources/views/Page/index.html.twig #}
{% extends 'BloggerBlogBundle::layout.html.twig' %}
{% block body %}
    <header>
        <h1>Blog homepage</h1>
    </header>
    <article>
        Some index content
    </article>
{% endblock %}